* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #081b29;
    color: #fff;

}
#mobile{
    display: none;
}
.mobile-bar{
    display: none;
}
.mobile-x{
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #051129;
    padding: 20px 18px;
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    /* margin-left: 25px; */
}

#logo {
    padding-left: 22px;
}

.header a {
    text-decoration: none;
    color: #fff;
}

.header a:hover {
    color: #0ef;
    cursor: pointer;
}


.logo {
    cursor: default;
    opacity: 0;
    animation: slideright 1s ease forwards;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    animation: slidetop 1s ease forwards;

}

.navbar a {
    padding: 0 15px;
    font-weight: 500;
}

.img-shap img {
    /* width: 25%;
    height: 42vh;
    border: 1px solid white;
    border-radius: 50%; */
    width: 95%;
    height: 50vh;
    border-radius: 50%;
    box-shadow: 0px 0px 100px 20px rgba(6, 209, 245, 0.75);
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 110px 18px;
    margin-left: 25px;
    margin-right: 65px;
}

.home-content h3 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
    opacity: 0;
    animation: slidebottem 0.5s ease forwards;
    animation-delay: 1s;
}

.home-content h1 {
    font-size: 70px;
    font-weight: 700;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 25px;
    margin-top: 10px;
    opacity: 0;
    animation: appear 2s ease forwards;
    animation-delay: 1s;
}
#linkd{
font-size: 30px;
   color: #fff;
}
#linkd2{
font-size: 20px;
   color: #fff;
}


.text-ani {
    color: #0ef;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1.5rem;
    padding: 110px 18px;
    margin-left: 50px;
    margin-right: 55px;
}

.about h2 {
    font-size: 60px;
}

.about h2 span {
    color: #0ef;
}

.about h4 {
    margin-top: 20px;
    font-size: 29px;
    font-weight: 600;
}

.about p {
    margin-top: 20px;
    font-size: 25px;
}

#img-2 {
    padding-left: 50px;
}

.about img {
    width: 60%;
    height: 50vh;
    border-radius: 50%;
    box-shadow: 0px 0px 100px 20px rgba(6, 209, 245, 0.75);
}

.sub-titel {
    text-align: center;
    font-size: 60px;
}

.sub-titel span {
    color: #0ef;

}
.sub-titel1 {
    text-align: center;
    font-size: 30px;
}

.sub-titel1 span {
    color: #0ef;

}

.skill-sec {
    display: flex;
    height: 70vh;
}
.container1{
    width: 100%;
    margin-top: 20px;
    margin-left: 160px;

}

 /* .container1 {
    margin-top: 20px;
    text-align: left;
    width: 100%;
    height: 70vh;
    font-size: 20px;
} */

.heading1 {
    padding-left: 75px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px; 
} 
#proskil{
    padding-left: 50px;
}

.bar-container p{
    margin-top: 10px;
}
.container {
    width: 60%;
    height: 5vh;
    background-color: #ddd; 
    border-radius: 40px;
  }
  
  .skills {
    text-align: right; 
    padding-top: 5px; 
    padding-right: 10px;
    color: white; 
  }
  
  .html {width: 90%; border-radius: 40px; height: 5vh; background-color: #8d99ae; box-shadow: 0px 0px 10px 2px rgba(141, 153, 174, 0.75);} 
  .css {width: 65%; border-radius: 40px; height: 5vh; background-color: #8d99ae; box-shadow: 0px 0px 10px 2px rgba(141, 153, 174, 0.75);} 
  .js {width: 70%; border-radius: 40px; height: 5vh; background-color: #8d99ae; box-shadow: 0px 0px 10px 2px rgba(141, 153, 174, 0.75);} 
  .react {width: 75%; border-radius: 40px; height: 5vh; background-color: #8d99ae; box-shadow: 0px 0px 10px 2px rgba(141, 153, 174, 0.75);} 
  .sql {width: 70%; border-radius: 40px; height: 5vh; background-color: #8d99ae; box-shadow: 0px 0px 10px 2px rgba(141, 153, 174, 0.75);} 

  .comm {width: 90%; border-radius: 40px; height: 5vh; background-color: #8d99ae; box-shadow: 0px 0px 10px 2px rgba(141, 153, 174, 0.75);} 
  .teamw {width: 90%; border-radius: 40px; height: 5vh; background-color: #8d99ae; box-shadow: 0px 0px 10px 2px rgba(141, 153, 174, 0.75);} 
  .Timem {width: 80%; border-radius: 40px; height: 5vh; background-color: #8d99ae; box-shadow: 0px 0px 10px 2px rgba(141, 153, 174, 0.75);} 
  .prosol {width: 70%; border-radius: 40px; height: 5vh; background-color: #8d99ae; box-shadow: 0px 0px 10px 2px rgba(141, 153, 174, 0.75);} 
  .leader {width: 85%; border-radius: 40px; height: 5vh; background-color: #8d99ae; box-shadow: 0px 0px 10px 2px rgba(141, 153, 174, 0.75);} 

  .skill-con{
    margin: 20px 60px;
  }

.skill-con ul{
    font-size: 25px;
}
.skill-con ul li{
    text-align: justify;
    margin-bottom: 10px;
}

.projects{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.pro-container{
    padding: 90px;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 1.5rem;
    margin-top: 50px;
}
.project-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 20px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;

}
.project-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.project-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
/* here we gave disply inline block as it was not taking any margin orr padding */
}
.demo{
    display: inline-block;
    padding: 12px 28px ;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.demo:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
}
.project-list div:hover{
    transform: scale(1.1);
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;


}
.contect-text h2{
    font-size: 50px;
    line-height: 1;
    text-align: center;
}
.contect-text h2 span{
    color: #0ef;
}
.contect-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contect-text p{
    color: rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    /* margin-bottom: 2rem; */
    list-style-type: none;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-form form{
    position: relative;
}
.contact-form form input, form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px ;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slidetop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.contact-form form .send:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 10px cyan,0 0 10px cyan;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #051129;
    font-weight: 300;
    margin-top: 10px;
}

.skill-con li span{
    color: #0ef;
}



@keyframes slideright {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slidetop {
    0% {
        transform: translatey(100px);
        opacity: 0;
    }

    100% {
        transform: translatey(0px);
        opacity: 1;
    }
}

@keyframes slidebottem {
    0% {
        transform: translatey(-100px);
        opacity: 0;
    }

    100% {
        transform: translatey(0px);
        opacity: 1;
    }
}

@keyframes slideleft {
    0% {
        transform: translatex(100px);
        opacity: 0;
    }

    100% {
        transform: translatex(0px);
        opacity: 1;
    }
}

@keyframes appear {
    0% {

        opacity: 0;
    }

    100% {

        opacity: 1;
    }
}



@media (max-width: 820px){
#mobile{
    display: initial;
    margin-right: 20px;

}
.mobile-bar{
    display: initial;
}
.navbar{
    display: none;
}
.active.navbar{
    width: 30vw;
    height: 30vh;
    position: absolute;
    top: 0;
    right: 0;
    background: #051129;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    animation: goleft 1s ease forwards;
    
}
@keyframes goleft {
    0% {
        transform: translatex(100px);
        opacity: 0;
    }

    100% {
        transform: translatex(0px);
        opacity: 1;
    }
}
 .mobile-x{
    display: initial;
}
.img-shap img {
    width: 70%;
    height: 20vh;
}
.home {
    margin-right: 10px;
}
.home-content h3 {
    font-size: 30px;
    font-weight: 500;
    
}
.home-content h1 {
    font-size: 50px;
    font-weight: 500;
}
.home-content h3 {
    font-size: 30px;
    font-weight: 500;
}
.home-content p {
    font-size: 25px;
}
.img-shap{
    padding-left: 50px;
}
.about img {
    width: 60%;
    height: 30vh;
}
.skill-sec {
    height: 45vh;
}
.container1 {
    margin-left: 60px;
}
.container {
    width: 78%;
    height: 3vh;
}
.html {
    height: 3vh;
}
.css{
    height: 3vh; 
}
.js{
    height: 3vh;  
}
.react{
    height: 3vh; 
}
.sql{
    height: 3vh;  
}
.comm{
    height: 3vh;  
}
.teamw{
    height: 3vh; 
}
.Timem{
    height: 3vh; 
}
.prosol{
    height: 3vh; 
}
.leader{
    height: 3vh; 
}
.heading1 {
    padding-left: 44px;
}
#proskil {
    padding-left: 24px;
}
.project-list {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}
.sub-titel {
    margin-bottom: 20px;
}
.pro-container {
    padding: 0;
}
}

@media (max-width: 390px){
    .header {
        width: 120%;
    }
    .home {
        width: 121%;
        display: flex;
        flex-direction: column-reverse;
        margin: auto;

}
.home-content{
    padding-left: 15px;
}
#img-2{
    display: none;
}
.about {
    display: block;
    width: 108%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}
.about h2 {
    font-size: 40px;
    text-align: center;
}
.about h4 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.about p {
    margin-top: 20px;
    font-size: 25px;
    text-align: justify;
    padding-left: 45px;
}
.sub-titel {
    text-align: center;
    font-size: 40px;
    width: 121%;
    margin-top: 20px;

}
.heading1 {
    padding-left: 0;
    font-size: 20px;
}
.skill-sec {
    
    width: 121%;
}
.heading1 {
    
    font-size: 15px;
}
#proskil{
    padding-left: 1px;
}
.sub-titel1 {
    width: 121%;
    font-size: 20px;
}
.skill-con ul li {
    
    width: 121%;
}
.sub-titel {
    
    font-size: 30px;
}
.pro-container {
    width: 121%;
}
}